body {
  line-height: 1.7;
  color: white;
  font-weight: 300;
  font-size: 1rem;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #9d2235}

 .button {
   background-color: #FFFFFF;
   border: none;
   color: black;
   margin-top: 10px;
   margin-left: 10px;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 1rem;
 }

 .jumbotron{
    color: black;
 }


 input[type="submit" i] {
     -webkit-appearance: push-button;
     user-select: none;
     white-space: pre;
     align-items: flex-start;
     text-align: center;
     cursor: default;
     color: black;
     background-color: white;
     box-sizing: border-box;
     padding: 15px 32px;
     border: none;
     margin-top: 10px;
     margin-left: 10px;
     font-size: 1rem;
 }